#!/usr/bin/env bash

set -Eeuo pipefail

${PRELUDE}

${PARSE_ARGS}

if [[ "$${COMMAND}" == 'unwise' ]]; then
  ${UNWISE}
fi

# If not cloned, we need to install TfMod
if [ ! -d ~/.local/state/tfmod ]; then
  COMMAND='update'
fi

# If we're not installing, run
if [[ "$${COMMAND}" != 'update' ]]; then
  ${MAIN}
fi

${LOGGING}

${PROMPT}

${UPDATE}
